<div class="container-tab">
  <ul>
    <li class={{currentTabLogin}} {{action 'toggleTabLogin'}}>
      <div>{{t 'signup.login'}}</div>
    </li>
    <li class={{currentTabSignup}} {{action 'toggleTabSignup'}}>
      <div>{{t 'signup.signup'}}</div>
    </li>
  </ul>
</div>
{{#if hasSignup}}

{{else}}
  <div class="social">
    <button class="btn-social">
      
    </button> 
  </div>
  <div class="btn-submit"></div>
{{/if}}